@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul,
ol,
li {
  list-style: none; }

a {
  text-decoration: none; }

#wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #dedcd1; }
  #wrap .header {
    width: 100%;
    position: relative;
    z-index: 2; }
    #wrap .header h1 {
      position: absolute;
      top: 30px;
      left: 30px; }
      #wrap .header h1 a {
        color: #222;
        font: normal italic 30px/1 "Prata", serif; }
        #wrap .header h1 a span {
          font: normal 14px/1 "Poppins", sans-serif;
          color: #222; }
    #wrap .header .icon {
      position: absolute;
      right: 30px;
      top: 40px;
      font: normal 14px/1 "Poppins", sans-serif;
      color: #222; }
      #wrap .header .icon span {
        margin-right: 50px; }
      #wrap .header .icon a {
        color: #222; }
  #wrap .swiper-wrapper {
    width: 100%;
    height: 100%; }
    #wrap .swiper-wrapper .swiper-slide {
      width: 100vw;
      height: 100vh;
      top: 0;
      background-color: #dedcd1;
      opacity: 0; }
      #wrap .swiper-wrapper .swiper-slide.swiper-slide-active {
        opacity: 1; }
      #wrap .swiper-wrapper .swiper-slide .inner {
        width: 100%;
        height: 100%;
        position: relative; }
        #wrap .swiper-wrapper .swiper-slide .inner img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: saturate(50%); }
        #wrap .swiper-wrapper .swiper-slide .inner .left {
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%; }
          #wrap .swiper-wrapper .swiper-slide .inner .left .content .btn {
            font-size: 0; }
            #wrap .swiper-wrapper .swiper-slide .inner .left .content .btn a {
              display: inline-block;
              width: 140px;
              height: 40px;
              border: 1px solid #222;
              font: normal 14px/40px "Poppins", sans-serif;
              text-transform: uppercase;
              text-align: center;
              color: #222; }
              #wrap .swiper-wrapper .swiper-slide .inner .left .content .btn a:last-child {
                background-color: #222;
                color: #fefefe; }
        #wrap .swiper-wrapper .swiper-slide .inner .right {
          position: absolute;
          top: 0;
          right: 0;
          width: 50%;
          height: 100%; }
      #wrap .swiper-wrapper .swiper-slide.about .left .content {
        width: 90%;
        position: absolute;
        top: 40%;
        text-align: center; }
        #wrap .swiper-wrapper .swiper-slide.about .left .content h2 {
          text-transform: capitalize;
          font: normal 38px/1 "Prata", serif;
          margin-bottom: 10px;
          color: #222; }
        #wrap .swiper-wrapper .swiper-slide.about .left .content span {
          text-transform: uppercase;
          font: normal 14px/1 "Poppins", sans-serif;
          position: relative;
          color: #444; }
          #wrap .swiper-wrapper .swiper-slide.about .left .content span::after {
            content: "";
            display: block;
            width: 1px;
            height: 0;
            background-color: #222;
            position: absolute;
            left: 50%;
            transform: skewX(-20deg);
            margin: 10px 0;
            animation: drawLine 0.5s linear 0.8s forwards; }
        #wrap .swiper-wrapper .swiper-slide.about .left .content p {
          text-transform: capitalize;
          font: normal 14px/1.4 "Poppins", sans-serif;
          color: #444;
          width: 70%;
          margin: 130px auto 20px; }
      #wrap .swiper-wrapper .swiper-slide.about .right .pic {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 85%; }
        #wrap .swiper-wrapper .swiper-slide.about .right .pic h3 {
          position: absolute;
          top: 70%;
          text-align: center;
          font: normal 50px/1.2 "Prata", serif;
          color: #eee;
          width: 100%; }
      #wrap .swiper-wrapper .swiper-slide.brand .left .content {
        position: absolute;
        bottom: 20px;
        left: 30px;
        width: 100%;
        height: 85%; }
        #wrap .swiper-wrapper .swiper-slide.brand .left .content h2 {
          text-transform: capitalize;
          font: normal 38px/1 "Prata", serif;
          margin-bottom: 10px;
          color: #222; }
        #wrap .swiper-wrapper .swiper-slide.brand .left .content span {
          font: normal 14px/1 "Poppins", sans-serif;
          color: #444;
          text-transform: uppercase; }
        #wrap .swiper-wrapper .swiper-slide.brand .left .content .pic {
          width: 50%;
          height: 38vh;
          margin: 20px 0; }
        #wrap .swiper-wrapper .swiper-slide.brand .left .content p {
          font: normal 30px/1.4 "Prata", serif;
          color: #444; }
        #wrap .swiper-wrapper .swiper-slide.brand .left .content .btn {
          position: absolute;
          bottom: 0; }
      #wrap .swiper-wrapper .swiper-slide.brand .right .pic {
        width: 100%;
        height: 100%; }
      #wrap .swiper-wrapper .swiper-slide.news > div .content {
        position: absolute;
        width: 100%;
        height: calc(100% - 40px);
        top: 10vh;
        padding: 20px; }
        #wrap .swiper-wrapper .swiper-slide.news > div .content .pic {
          width: 100%;
          height: 50vh;
          margin-bottom: 20px; }
        #wrap .swiper-wrapper .swiper-slide.news > div .content .txt {
          position: relative;
          width: 100%;
          height: calc(100% - 60vh - 20px);
          bottom: 0; }
          #wrap .swiper-wrapper .swiper-slide.news > div .content .txt h2 {
            text-transform: capitalize;
            font: normal 30px/1.2 "Prata", serif;
            color: #222; }
            #wrap .swiper-wrapper .swiper-slide.news > div .content .txt h2 span {
              margin-left: 60px;
              color: #222; }
          #wrap .swiper-wrapper .swiper-slide.news > div .content .txt .num {
            position: absolute;
            top: 0;
            right: 0;
            font: normal 35px/1 "Poppins", sans-serif;
            color: #222; }
          #wrap .swiper-wrapper .swiper-slide.news > div .content .txt p {
            font: normal 12px/1.2 "Poppins", sans-serif;
            color: #444;
            position: absolute; }
      #wrap .swiper-wrapper .swiper-slide.news .left .content .txt .sub {
        width: 45%;
        bottom: 0;
        left: 0; }
      #wrap .swiper-wrapper .swiper-slide.news .left .content .txt .sub2 {
        width: 35%;
        top: 90px;
        right: 0; }
      #wrap .swiper-wrapper .swiper-slide.news .right .content .txt h2 {
        position: absolute;
        bottom: 0;
        left: 0; }
      #wrap .swiper-wrapper .swiper-slide.news .right .content .txt .sub {
        width: 30%;
        bottom: 0;
        right: 0; }
      #wrap .swiper-wrapper .swiper-slide.reference .left {
        background: url(../img/reference.jpg) no-repeat center/cover; }
        #wrap .swiper-wrapper .swiper-slide.reference .left .content {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0; }
          #wrap .swiper-wrapper .swiper-slide.reference .left .content h2 {
            position: absolute;
            top: 12%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            text-transform: capitalize;
            font: normal 34px/1.4 "Prata", serif;
            width: 100%;
            color: #222; }
          #wrap .swiper-wrapper .swiper-slide.reference .left .content .whiteB {
            position: absolute;
            top: 46%;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            height: 50%;
            padding: 20px;
            background-color: #fefefe;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center; }
            #wrap .swiper-wrapper .swiper-slide.reference .left .content .whiteB h3,
            #wrap .swiper-wrapper .swiper-slide.reference .left .content .whiteB span,
            #wrap .swiper-wrapper .swiper-slide.reference .left .content .whiteB p {
              text-transform: uppercase;
              font: normal 14px/1 "Poppins", sans-serif;
              color: #444; }
      #wrap .swiper-wrapper .swiper-slide.reference .right .content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 5vh;
        right: 0; }
        #wrap .swiper-wrapper .swiper-slide.reference .right .content h2 {
          position: absolute;
          top: 10%;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
          text-transform: capitalize;
          font: normal 34px/1.4 "Prata", serif;
          width: 100%;
          color: #222; }
        #wrap .swiper-wrapper .swiper-slide.reference .right .content p {
          position: absolute;
          top: 35%;
          left: 30%;
          width: 45%;
          text-align: center;
          text-transform: capitalize;
          font: normal 14px/1.4 "Poppins", sans-serif;
          color: #444; }
          #wrap .swiper-wrapper .swiper-slide.reference .right .content p.sub2 {
            top: 55%; }
          #wrap .swiper-wrapper .swiper-slide.reference .right .content p.sub3 {
            top: auto;
            bottom: 10vh; }
  #wrap .swiper-button-prev {
    top: 8vh;
    left: 70vw;
    transform: scale(0.5);
    filter: grayscale(1); }
  #wrap .swiper-button-next {
    top: 8vh;
    right: 25vw;
    transform: scale(0.5);
    filter: grayscale(1); }
  #wrap .swiper-pagination {
    width: auto;
    height: 50px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%); }
    #wrap .swiper-pagination span {
      width: auto;
      height: auto;
      display: inline-block;
      font: normal 14px/50px "Prata", serif;
      color: #222;
      padding: 0 50px;
      background-color: transparent; }

@keyframes move {
  0% {
    width: 10px; }
  100% {
    width: 50%; } }
@keyframes drawLine {
  0% {
    height: 0; }
  100% {
    height: 100px; } }

/*# sourceMappingURL=style.css.map */
