@charset "utf-8";

//font
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

//reset
@import "reset";
@import "variable";

#wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #dedcd1;

  .header {
    width: 100%;
    position: relative;
    z-index: 2;

    h1 {
      position: absolute;
      top: 30px;
      left: 30px;

      a {
        color: $dark_black;
        font: normal italic 30px/1 $font_serif;

        span {
          font: normal 14px/1 $font_san;
          color: $dark_black;
        }
      }
    }

    .icon {
      position: absolute;
      right: 30px;
      top: 40px;
      font: normal 14px/1 $font_san;
      color: $dark_black;

      span {
        margin-right: 50px;
      }

      a {
        color: $dark_black;
      }
    }
  }

  .swiper-wrapper {
    width: 100%;
    height: 100%;

    .swiper-slide {
      width: 100vw;
      height: 100vh;
      top: 0;
      background-color: #dedcd1;
      opacity: 0;

      &.swiper-slide-active {
        opacity: 1;
      }

      .inner {
        width: 100%;
        height: 100%;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: saturate(50%);
        }

        .left {
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%;

          .content {
            .btn {
              font-size: 0;

              a {
                display: inline-block;
                width: 140px;
                height: 40px;
                border: 1px solid $dark_black;
                font: normal 14px/40px $font_san;
                text-transform: uppercase;
                text-align: center;
                color: $dark_black;

                &:last-child {
                  background-color: $dark_black;
                  color: $white;
                }
              }
            }
          }
        }

        .right {
          position: absolute;
          top: 0;
          right: 0;
          width: 50%;
          height: 100%;
        }
      }

      &.about {
        .left {
          .content {
            width: 90%;
            position: absolute;
            top: 40%;
            text-align: center;

            h2 {
              text-transform: capitalize;
              font: normal 38px/1 $font_serif;
              margin-bottom: 10px;
              color: $dark_black;
            }

            span {
              text-transform: uppercase;
              font: normal 14px/1 $font_san;
              position: relative;
              color: $light_black;

              &::after {
                content: "";
                display: block;
                width: 1px;
                height: 0;
                background-color: $dark_black;
                position: absolute;
                left: 50%;
                transform: skewX(-20deg);
                margin: 10px 0;
                animation: drawLine 0.5s linear 0.6s forwards;
              }
            }
            p {
              text-transform: capitalize;
              font: normal 14px/1.4 $font_san;
              color: $light_black;
              width: 70%;
              margin: 130px auto 20px;
            }
          }
        }

        .right {
          .pic {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 85%;

            h3 {
              position: absolute;
              top: 70%;
              text-align: center;
              font: normal 50px/1.2 $font_serif;
              color: #eee;
              width: 100%;
            }
          }
        }
      }

      &.about2 {
        .left {
          .content {
            position: absolute;
            bottom: 20px;
            left: 30px;
            width: 100%;
            height: 85%;

            h2 {
              text-transform: capitalize;
              font: normal 38px/1 $font_serif;
              margin-bottom: 10px;
              color: $dark_black;
            }

            span {
              font: normal 14px/1 $font_san;
              color: $light_black;
              text-transform: uppercase;
            }

            .pic {
              width: 50%;
              height: 38vh;
              margin: 20px 0;
            }

            p {
              font: normal 30px/1.4 $font_serif;
              color: $light_black;
            }

            .btn {
              position: absolute;
              bottom: 0;
            }
          }
        }

        .right {
          .pic {
            width: 100%;
            height: 100%;
          }
        }
      }

      &.news {
        > div {
          .content {
            position: absolute;
            width: 100%;
            height: calc(100% - 40px);
            top: 10vh;
            padding: 20px;

            .pic {
              width: 100%;
              height: 50vh;
              margin-bottom: 20px;
            }

            .txt {
              position: relative;
              width: 100%;
              height: calc(100% - 60vh - 20px);
              bottom: 0;

              h2 {
                text-transform: capitalize;
                font: normal 30px/1.2 $font_serif;
                color: $dark_black;

                span {
                  margin-left: 60px;
                  color: $dark_black;
                }
              }

              .num {
                position: absolute;
                top: 0;
                right: 0;
                font: normal 35px/1 $font_san;
                color: $dark_black;
              }

              p {
                font: normal 12px/1.2 $font_san;
                color: $light_black;
                position: absolute;
              }
            }
          }
        }

        .left {
          .content {
            .txt {
              .sub {
                width: 45%;
                bottom: 0;
                left: 0;
              }

              .sub2 {
                width: 35%;
                top: 90px;
                right: 0;
              }
            }
          }
        }

        .right {
          .content {
            .txt {
              h2 {
                position: absolute;
                bottom: 0;
                left: 0;
              }
              .sub {
                width: 30%;
                bottom: 0;
                right: 0;
              }
            }
          }
        }
      }

      &.reference {
        .left {
          background: url(../img/reference.jpg) no-repeat center/cover;
          .content {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

            h2 {
              position: absolute;
              top: 12%;
              left: 50%;
              transform: translateX(-50%);
              text-align: center;
              text-transform: capitalize;
              font: normal 34px/1.4 $font_serif;
              width: 100%;
              color: $dark_black;
            }

            .whiteB {
              position: absolute;
              top: 46%;
              left: 50%;
              transform: translateX(-50%);
              width: 80%;
              height: 50%;
              padding: 20px;
              background-color: $white;
              text-align: center;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;

              h3,
              span,
              p {
                text-transform: uppercase;
                font: normal 14px/1 $font_san;
                color: $light_black;
              }
            }
          }
        }

        .right {
          .content {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 5vh;
            right: 0;

            h2 {
              position: absolute;
              top: 10%;
              left: 50%;
              transform: translateX(-50%);
              text-align: center;
              text-transform: capitalize;
              font: normal 34px/1.4 $font_serif;
              width: 100%;
              color: $dark_black;
            }

            p {
              position: absolute;
              top: 35%;
              left: 30%;
              width: 45%;
              text-align: center;
              text-transform: capitalize;
              font: normal 14px/1.4 $font_san;
              color: $light_black;

              &.sub2 {
                top: 55%;
              }

              &.sub3 {
                top: auto;
                bottom: 10vh;
              }
            }
          }
        }
      }
    }
  }

  .swiper-button-prev {
    top: 8vh;
    left: 70vw;
    transform: scale(0.5);
    filter: grayscale(1);
  }

  .swiper-button-next {
    top: 8vh;
    right: 25vw;
    transform: scale(0.5);
    filter: grayscale(1);
  }

  .swiper-pagination {
    width: auto;
    height: 50px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);

    span {
      width: auto;
      height: auto;
      display: inline-block;
      font: normal 14px/50px $font_serif;
      color: $dark_black;
      padding: 0 50px;
      background-color: transparent;
    }
  }
}

@keyframes move {
  0% {
    width: 10px;
  }

  100% {
    width: 50%;
  }
}

@keyframes drawLine {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}
